<h1>Orders#index</h1>
<p>Find me in app/views/orders/index.html.erb</p>

<ul>
  <% @orders.each do |order| %>
    <li><%= link_to order.number, order_path(order) %></li>
  <% end %>
</ul>

<a href="/orders/new" style="font-weight: 400; font-size: 16px; font-family: 'ZCOOL XiaoWei'; background-color: transparent; border: 1px solid rgb(39, 55, 77); border-radius: 5px; margin-right: 10px;">Add order</a>
