<h1>Orders#show</h1>
<p>Find me in app/views/orders/show.html.erb</p>

<h2><%= @order.number %></h2>

<%= link_to "Delete",
  order_path(@order),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
